<div class="notes" >
 <ng-container *ngIf="selectedDate">
  <h4>Notes for {{ selectedDate }}</h4>

  <input 
    type="text"
    placeholder="Title"
    [(ngModel)]="noteTitle"
  />

  <textarea 
    placeholder="Write Your Note Here..."
    [(ngModel)]="noteContent">
  </textarea>

  <input placeholder="reminder Time" type="datetime-local"
       [(ngModel)]="reminderTime" />

  <button (click)="save()">Save</button>

  <div class="existing-notes" *ngIf="selectedNotes.length > 0">
    <h5>Saved Notes</h5>
    <div *ngFor="let note of selectedNotes">
      <strong>{{ note.title }}</strong>
      <p>{{ note.content }}</p>
    </div>
  </div>
    </ng-container>

</div>
