.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.header button {
  background: #f1f3f6;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.header button:hover {
  background: #dfe6f3;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin-bottom: 0;
}

.day-name {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #888;
}

.day {
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 14px;
  padding: 6px 0;
  position: relative;
}

.day:hover {
  background: #f0f4ff;
}

.day.selected {
  background: #4f46e5;
  color: white;
  font-weight: bold;
}

.day.today {
  border: 2px solid #4f46e5;
}

.day.empty {
  cursor: default;
  background: transparent;
}
.note-dot {
  position: absolute;
  bottom: 4px;
  width: 6px;
  height: 6px;
  background-color: #ff5722; /* color of dot */
  border-radius: 50%;
}
